[Desktop Entry]
Type=Application
Name=conky-chooser
Exec=/usr/bin/cc %f
Icon=debian-logo
StartupNotify=false
Terminal=false
Categories=System;
Name[en_US]=CC.desktop
